html {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
}
*,
*:before,
*:after {
    box-sizing: border-box;
}
@import "./varibles";
@import "./admin/mixins";
@import "./admin/navigation";
@import "./admin/login";
@import "./admin/articles";
@import "./admin/messages";
@import "./user/article";
@import "./user/relatedarticle";
@import "./user/comments";
@import "./user/about";
