.message {
    &__error {
        color: $red_danger;
        background-color: $red_background;
        border: 0.5px solid $red_danger;
        border-radius: 0.25em;
        padding: 0.5em;
        font-size: 0.8em;
        margin-top: 0.5em;
    }

    &__success {
        color: $green_success;
        background-color: $green_background;
        border: 0.5px solid $green_success;
        border-radius: 0.25em;
        padding: 0.5em;
        font-size: 0.8em;
        margin-top: 0.5em;
        margin-bottom: 1em;
    }
}
